[submodule "bitbake"]
	path = bitbake
	url = git://git.openembedded.org/bitbake
	branch = 2.4
	ignore = dirty
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = mickledore
	ignore = dirty
[submodule "openembedded-core"]
	path = openembedded-core
	url = git://git.openembedded.org/openembedded-core
	branch = mickledore
	ignore = dirty
[submodule "meta-python2"]
	path = meta-python2
	url = https://gitlab.com/jack2015/meta-python2.git
	branch = mickledore
	ignore = dirty
